$BGcolor: rgb(229, 229, 229); // platinum
$SubBG: rgb(229, 229, 229); //  platinum
$borderColor: rgb(55, 74, 103); // blue sapphire
$actColor: rgb(56, 108, 11); // pakistan green
$darkGreen: rgb(14, 17, 22); //rich black fogra
$titlePhoneSize: 2rem;
$titleTabletSize: 3rem;
$titleDesktopSize: 3.5rem;

@mixin containerStyle {
  @include centerAllFlex;
  flex-flow: column nowrap;
  position: relative;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  color: $darkGreen;
  z-index: 80;
  top: 0;
}

@mixin wrapperStyle {
  @include centerAllFlex;
  flex-flow: column nowrap;
  position: relative;
  width: 80%;
}

@mixin centerAllFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mobileTitle {
  margin: 5% auto;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
}

@mixin tabletTitle {
  text-align: center;
  font-size: 3rem;
}

@mixin desktopTitle {
  text-align: center;
  font-size: 3.5rem;
}

@mixin mobileDesc {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: justify;
}

// https://coolors.co/e5e5e5-0e1116-374a67-616283-9e7b9b
