$BGcolor: rgb(229, 229, 229); // springgreen
$SubBG: rgb(229, 229, 229); //  malachite
$borderColor: rgb(206, 253, 227); // blue sapphire
$actColor: rgb(56, 108, 11); // pakistan green
$darkGreen: black; //forest green traditional

// $BGcolor: rgb(229, 229, 229); // springgreen
// $SubBG: rgb(49, 216, 67); //  malachite
// $borderColor: rgb(56, 167, 0); // yellow green color wheel
// $actColor: rgb(56, 108, 11); // pakistan green
// $darkGreen: rgb(41, 63, 20); //forest green traditional
