@import "../utility/variable.scss";

.works-container {
  @include containerStyle;

  .works-wrapper {
    @include wrapperStyle;

    .works-title {
      @include mobileTitle;
    }
    .works-card-container {
      @include centerAllFlex;
      flex-flow: column nowrap;
      // height: 100%;
      .works-card {
        height: 500px;
        min-height: 500px;
        @include centerAllFlex;
        flex-flow: column nowrap;
        box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.4);
        border-radius: 24px;
        padding: 24px 12px;
        width: 250px;
        margin: 0 20px 20px;
        .works-link-wrapper {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-flow: column nowrap;
          width: 100%;
          height: 200px;
          div {
            width: 100%;
            height: 100%;
            #works-link {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              width: 100%;
              height: 100%;
              img {
                height: 200px;
                width: 100%;
                text-align: center;
                object-fit: contain;
                border-radius: 12px;
              }
            }
          }
        }
        .modal-icon {
          padding: 12px;
          .card-title {
            width: 100%;
            margin: 12px auto;
            font-weight: 700;
            font-size: 24px;
          }
          .card-tech {
            display: flex;
            margin: 12px auto;
            flex-flow: row wrap;
            #tech {
              margin: 0px 4px 8px;
              background-color: $borderColor;
              padding: 8px;
              border-radius: 12px;
              color: white;
              letter-spacing: 0.4px;
            }
          }
          .card-desc {
            width: 100%;
            font-weight: 600;
            line-height: 24px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .works-container {
    .works-wrapper {
      .works-title {
        @include tabletTitle;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .works-container {
    width: 100%;
    .works-wrapper {
      .works-card-container {
        flex-flow: row nowrap;
      }
      .works-title {
        @include desktopTitle;
      }
    }
  }
}
