.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  color: #293f14;
  overflow-x: hidden;
}

.about-title {
  margin: 5% auto;
  font-weight: 700;
  font-size: 2em;
}

.bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.bottom-left img {
  width: 90%;
  max-width: 350px;
  border-radius: 3%;
  border: 3px solid #38a700;
}

.top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 600;
  font-size: 4vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: relative;
  -webkit-animation: slidefromright 0.75s forwards ease;
          animation: slidefromright 0.75s forwards ease;
}

.bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 1.1em;
  position: relative;
}

.about-contact {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 10vh;
  max-width: 60px;
}

.about-contact img {
  height: 100%;
}

.bottom-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  position: relative;
  font-family: "Courgette", cursive;
}

@media only screen and (min-width: 768px) {
  .about-top {
    font-size: 2rem;
  }
  .bottom-text {
    font-size: 1.5rem;
  }
  .bottom-quote {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 0;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    color: #293f14;
    overflow-x: hidden;
  }
  .footer-contact {
    display: none;
  }
  .about-top {
    font-size: 4em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about-contact {
    display: none;
  }
}
/*# sourceMappingURL=aboutStyle.css.map */