$BGcolor: rgb(62, 255, 139); // springgreen
$SubBG: rgb(49, 216, 67); //  malachite
$borderColor: rgb(56, 167, 0); // yellow green color wheel
$actColor: rgb(56, 108, 11); // pakistan green
$darkGreen: rgb(41, 63, 20); //forest green traditional

.about-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
}

.about-wrapper {
  width: 50%;
  height: 100vh;
}

.right {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.box-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.about-box {
  width: 100px;
  height: 100px;
  margin: 0 3px;
  background-color: $SubBG;
  border: 3px $borderColor solid;
  transition: all 0.2s;
  &:hover {
    width: 110px;
    height: 110px;
  }
}
