$BGcolor: rgb(62, 255, 139); // springgreen
$SubBG: rgb(49, 216, 67); //  malachite
$borderColor: rgb(56, 167, 0); // yellow green color wheel
$actColor: rgb(56, 108, 11); // pakistan green
$darkGreen: rgb(41, 63, 20); //forest green traditional

.about-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  color: $darkGreen;
  overflow-x: hidden;
}

.about-title {
  width: 100%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2em;
}

.bottom-left {
  display: flex;
  justify-content: center;
  align-content: center;

  img {
    width: 90%;
    max-width: 350px;
    border-radius: 3%;
    border: 3px solid $borderColor;
  }
}

.top-text {
  display: flex;
  height: 10%;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  font-size: 4vh;
  transform: translateX(-100%);
  position: relative;
  animation: slidefromright 0.75s forwards;
}

.bottom-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 1.1em;
  transform: translateX(-100%);
  position: relative;
  animation: slidefromleft 1s forwards 0.5s;
}

.about-contact {
  width: 15%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column nowrap;
  height: 10vh;
  opacity: 0;
  animation: fadeIn 0.5s 1.5s cubic-bezier(0, 1.6, 0.6, 1) forwards;
  max-width: 60px;
  img {
    height: 100%;
  }
}

.bottom-quote {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  flex: 1;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  transform: translateX(-100%);
  position: relative;
  animation: slidefromright 0.5s forwards 1.25s;
  font-family: "Courgette", cursive;
}

@keyframes slidefromleft {
  100% {
    transform: translateX(0%);
  }
}
@keyframes slidefromright {
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media only screen and (min-width: 768px) {
  .about-top {
    font-size: 2rem;
  }
  .bottom-text {
    font-size: 1.5rem;
  }
  .bottom-quote {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .about-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    color: $darkGreen;
    overflow-x: hidden;
  }
  .footer-contact {
    display: none;
  }
  .about-top {
    font-size: 4em;
    flex: 1;
  }
  .about-contact {
    display: none;
  }
}
