@import "./utility/variable.scss";
.about-container {
  @include centerAllFlex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: $darkGreen;
  z-index: 80;
  top: 0;
  .about-wrapper {
    @include centerAllFlex;
    flex-flow: column nowrap;
    position: relative;
    width: 80%;
    .about-title {
      @include mobileTitle;
    }

    .about-bottom {
      .bottom-left {
        @include centerAllFlex;
        img {
          width: 60%;
          max-width: 350px;
          border-radius: 3%;
          border: 1px solid rgba($borderColor, 0.5);
          box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.4);
        }
      }

      .bottom-right {
        @include centerAllFlex;
        flex-flow: column nowrap;
        z-index: 50;
        .bottom-text {
          @include centerAllFlex;
          flex-flow: column nowrap;
          margin-top: 20px;
          text-align: center;
          width: 100%;
          font-weight: 600;
          font-size: 1.1em;
          position: relative;
        }

        .about-contact {
          @include centerAllFlex;
          flex-flow: column nowrap;
          width: 15%;
          max-width: 48px;
          margin: 16px 0;
          img {
            width: 100%;
          }
        }

        .bottom-quote {
          @include centerAllFlex;
          flex-flow: column nowrap;
          text-align: center;
          width: 100%;
          font-size: 20px;
          position: relative;
          font-family: "Courgette", cursive;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .about-container {
    .about-wrapper {
      .about-title {
        @include tabletTitle;
      }
    }
  }
  #anphoto {
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .about-container {
    @include centerAllFlex;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0 auto;
    color: $darkGreen;
    overflow: hidden;
    .about-wrapper {
      flex-flow: column nowrap;
      .about-title {
        @include desktopTitle;
      }
      .about-bottom {
        @include centerAllFlex;
        flex-flow: row nowrap;
        .bottom-left {
          width: 50%;
          #anphoto {
            width: 70%;
          }
        }
        .bottom-right {
          width: 50%;
        }
      }
    }
  }
  .about-contact {
    display: none;
  }
}
