$size: 100px;
$BGcolor: rgb(62, 255, 139); // springgreen
$SubBG: rgb(49, 216, 67); //  malachite
$borderColor: rgb(56, 167, 0); // yellow green color wheel
$actColor: rgb(56, 108, 11); // pakistan green
$darkGreen: rgb(41, 63, 20); //forest green traditional

.card-container {
  margin: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.cardWrapper {
  width: $size;
  height: $size;
  position: relative;
  float: left;
  margin: 10px 8px 10px 8px;
  -webkit-font-smoothing: antialiased;
}

.cardFace {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: $size;
  height: $size;
  overflow: hidden;
}
.skill-icons {
  width: 60%;
}
.front {
  background-color: $actColor;
}

.back {
  background-color: $darkGreen;
}

.cardFace h1 {
  text-align: center;
  margin: 0px;
  font-size: 15px;

  color: white;
}

.cardFace.back h1 {
  border-color: #91e600;
}
