.contact-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  width: 90%;
  margin: 0 auto;
}

.contact-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  .contact-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2em;
  }
}

.contact-bottom {
  display: flex;
  flex-flow: row nowrap;
}
