.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  color: #293f14;
  overflow-x: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.contact-title {
  margin: 5% auto;
  font-weight: 700;
  font-size: 2em;
}

.contact-greeting {
  text-align: justify;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 5%;
}

.contact-map-form {
  overflow-x: hidden;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.contact-map-form .contact-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
}

.contact-map-form .contact-top #mapboxgl {
  width: 100%;
  height: 15vh;
}

.contact-map-form .contact-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  margin: 5% auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-map-form .contact-bottom .contact-bottom__top form .half-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-map-form .contact-bottom .contact-bottom__top form .half-top input {
  width: 48%;
}

.contact-map-form .contact-bottom .contact-bottom__top form div > input,
.contact-map-form .contact-bottom .contact-bottom__top form textarea {
  height: 35px;
  width: 100%;
  margin-bottom: 1vh;
  border: 2px solid #38a700;
  border-radius: 5px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.contact-map-form .contact-bottom .contact-bottom__top form div > input[type="submit"] {
  width: 50%;
  padding: 0px;
  height: 35px;
}

.contact-map-form .contact-bottom .contact-bottom__top form .half-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-map-form .contact-bottom .contact-bottom__top form .half-bottom #contact-textarea {
  height: 15vh;
  max-height: 20vh;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .contact-map-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    height: 60vh;
  }
  .contact-map-form .contact-top {
    background-color: #386c0b;
    height: 100%;
    margin: 0 5px;
  }
  .contact-map-form .contact-top #mapboxgl {
    height: 100%;
  }
  .contact-map-form .contact-bottom {
    height: 100%;
    margin: 0 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact-map-form .contact-bottom .contact-bottom__top form div > input,
  .contact-map-form .contact-bottom .contact-bottom__top form textarea {
    height: 50px;
    margin-bottom: 2vh;
  }
  .contact-map-form .contact-bottom .contact-bottom__top form div > input[type="submit"] {
    height: 50px;
    border-radius: 10px;
  }
  .contact-map-form .contact-bottom .contact-bottom__top form .half-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-map-form .contact-bottom .contact-bottom__top form .half-bottom #contact-textarea {
    height: 20vh;
    max-height: 20vh;
    max-width: 100%;
  }
}
/*# sourceMappingURL=contactStyle.css.map */