@import "./utility/variable.scss";
.footer-contact {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  margin: 16px auto;

  .contact-wrapper {
    margin: 0px 20px;
    max-width: 40px;

    img {
      border-radius: 5px;
      border: 1px solid rgba($borderColor, 0.5);
      width: 100%;
      opacity: 0.8;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer-contact {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .footer-contact {
    display: none;
  }
}
