.footer-contact {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row nowrap;
  position: fixed;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  .contact-wrapper {
    margin: 0px 20px;
    max-width: 40px;
    animation: contact 2s linear 2s infinite;

    img {
      border-radius: 5px;
      border: 3px solid $borderColor;
      transform: rotateZ(45deg);
      width: 100%;
      opacity: 0.8;
    }
  }
}

@keyframes contact {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
