.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.37);
          box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.37);
  z-index: 99;
  width: 100%;
  position: absolute;
  top: 0;
  height: 10vh;
}

.header-container .navigation-image,
.header-container .navigation-image-social {
  width: 30px;
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-container .navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header-container .navigation-container .navigation-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  color: gray;
  position: relative;
  margin: 20px 0;
}

.header-container .navigation-container .text {
  display: none;
}

.header-container .sosmed-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-container .navigation-image {
    width: 50px;
    margin: 0 25px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header-container .navigation-image-social {
    width: 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header-container .sosmed-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 10vh;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.37);
            box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.37);
    border-bottom: 0;
  }
  .header-container .navigation-image,
  .header-container .navigation-image-social {
    width: 40px;
    margin: 5px 10px;
  }
  .header-container .an-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-container .navigation-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 10vh;
  }
  .header-container .navigation-container .navigation-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    height: 20px;
    font-size: 1vw;
    font-weight: 600;
    color: #524e4e;
    text-align: center;
  }
  .header-container .navigation-container .navigation-button:hover {
    color: #fcf4f4;
  }
  .header-container .navigation-container .navigation-button:active {
    color: #0e1116;
    text-decoration: none;
  }
  .header-container .navigation-container .navigation-button:visited {
    text-decoration: none;
  }
  .header-container .navigation-container .navigation-button:link {
    text-decoration: none;
  }
  .header-container .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: #e5e5e5;
  }
  .header-container .navigation-button:hover .overlay {
    opacity: 1;
  }
  .header-container .text {
    display: block !important;
    color: #386c0b;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  .header-container .sosmed-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}
/*# sourceMappingURL=headerStyle.css.map */