$BGcolor: rgb(62, 255, 139); // springgreen
$SubBG: rgb(49, 216, 67); //  malachite
$borderColor: rgb(56, 167, 0); // yellow green color wheel
$actColor: rgb(56, 108, 11); // pakistan green
$darkGreen: rgb(41, 63, 20); //forest green traditional

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: $SubBG;
  z-index: 99;
  width: 100%;
  position: absolute;
  top: 0;
  border-bottom: 3px $borderColor solid;
  height: 10vh;
  .navigation-image,
  .navigation-image-social {
    width: 30px;
    margin: 0 10px;
    flex: 1;
  }

  .navigation-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    .navigation-button {
      flex: 1;
      text-decoration: none;
      font-size: 2em;
      font-weight: 600;
      color: gray;
      position: relative;
      margin: 20px 0;
    }
    .text {
      display: none;
    }
  }
  .sosmed-container {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-container {
    justify-content: space-between;
    .navigation-image {
      width: 40px;
      margin: 0 25px;
      flex: 1;
    }
    .navigation-image-social {
      width: 30px;
      flex: 1;
    }
    .sosmed-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header-container {
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 10vh;
    height: 100vh;
    top: 0;
    left: 0;
    border-right: 5px solid $borderColor;
    border-bottom: 0;
    .navigation-image,
    .navigation-image-social {
      width: 40px;
      margin: 5px 10px;
    }
    .an-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .navigation-container {
      flex-flow: column nowrap;

      width: 10vh;
      .navigation-button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 20px;
        font-size: 1vw;
        font-weight: 600;
        color: rgb(82, 78, 78);
        text-align: center;
        &:hover {
          color: rgba(252, 244, 244, 1);
        }
        &:active {
          color: $darkGreen;
          text-decoration: none;
        }
        &:visited {
          text-decoration: none;
        }
        &:link {
          text-decoration: none;
        }
      }
    }

    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: 0.5s ease;
      background-color: $SubBG;
    }
    .navigation-button:hover .overlay {
      opacity: 1;
    }
    .text {
      display: block !important;
      color: $actColor;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .sosmed-container {
      flex-flow: column nowrap;
    }
  }
}
