@import "./utility/variable.scss";
.home-container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  height: 100%;
  width: 100%;
  margin-top: 30vh;
  flex-flow: column wrap;
  color: $darkGreen;
  overflow: hidden;
  z-index: 20;
  position: relative;
  padding-bottom: 20px;
}

.home-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  height: 50%;
  z-index: 20;
  position: relative;

  .home-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
    margin-left: 10%;
    .title-style-home {
      font-weight: 700;
      font-size: $titlePhoneSize;
      margin-bottom: 32px;
    }
    .button-contactme {
      color: $darkGreen;
      background-color: $BGcolor;
      font-weight: 700;
      font-size: 1em;
      width: 65%;
      min-width: 130px;
      max-width: 180px;
      min-height: 52px;
      border-radius: 56px;
      border: rgba(55, 74, 103, 0.2) 3px solid;
      display: block;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.24);
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-container {
    margin-top: 30vh;
  }
  .home-bottom {
    .home-left {
      width: 100%;
      .title-style-home {
        font-weight: 700;
        font-size: 2.5rem;
      }
    }
  }
  .button-contactme {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .home-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .home-bottom {
    margin: 0;
    .home-left {
      width: 100%;
      .title-style-home {
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 48px;
      }
      .button-contactme {
        height: 54px;
      }
    }
  }
}
