$BGcolor: rgb(62, 255, 139); // springgreen
$SubBG: rgb(49, 216, 67); //  malachite
$borderColor: rgb(56, 167, 0); // yellow green color wheel
$actColor: rgb(56, 108, 11); // pakistan green
$darkGreen: rgb(41, 63, 20); //forest green traditional

.home-container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  height: 80vh;
  flex-flow: column wrap;
  margin: 15px;
  color: $darkGreen;
}

.home-top {
  .bird {
    position: absolute;
    opacity: 0;
    top: 20vh;
    left: 60%;
    width: 15%;
    animation: fadeIn 0.5s 0.5s cubic-bezier(0, 1.6, 0.6, 1) forwards;
  }
}

.bgsmall {
  position: fixed;
  top: 23vh;
  right: 0;
  width: 60%;
  margin: 0;
  opacity: 0;
  animation: fadeIn 0.5s 0.1s cubic-bezier(0, 1.6, 0.6, 1) forwards;
}

.bottombg-box {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.5s 0.1s cubic-bezier(0, 1.6, 0.6, 1) forwards;
  padding-bottom: 0 !important;
  img {
    max-width: 100%;
    padding: 0 !important;
    display: block !important;
  }
}

.home-bottom {
  margin-left: 8%;
  display: flex;

  .home-left {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
      font-weight: 700;
      font-size: 2rem;
    }
  }

  .home-right {
    img {
      display: none;
    }
  }
}

.button-contactme {
  color: $darkGreen;
  background-color: transparent;
  font-weight: 700;
  font-size: 1em;
  width: 65%;
  height: 50px;
  margin-top: 30px;
  border-radius: 5px;
  border: $borderColor 3px solid;
  opacity: 0;
  display: block;
  animation: fadeIn 0.5s 0.5s cubic-bezier(0, 1.6, 0.6, 1) forwards;
  box-shadow: 0 0 12em 1em rgba(110, 140, 200, 0.6);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes flying {
  0% {
    left: 0px;
  }
  5% {
    visibility: visible;
    left: 10px;
  }
  100% {
    left: 60%;
    visibility: visible;
  }
}

@media only screen and (min-width: 768px) {
  .home-top {
    .bird {
      width: 10%;
    }
  }

  .bottombg-box {
    display: none;
  }

  .bgsmall {
    top: 15vh;
  }

  .home-bottom {
    margin-left: 12%;
    .home-left {
      width: 100%;
      p {
        font-weight: 700;
        font-size: 2.5rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .home-bottom {
    .home-left {
      width: 100%;
      p {
        font-weight: 700;
        font-size: 3rem;
      }
    }
  }
}
