.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 15px;
  color: #293f14;
}

.home-top .bird {
  position: absolute;
  opacity: 0;
  top: 20vh;
  left: 60%;
  width: 15%;
  -webkit-animation: fadeIn 0.5s 0.5s cubic-bezier(0, 1.6, 0.6, 1) forwards;
          animation: fadeIn 0.5s 0.5s cubic-bezier(0, 1.6, 0.6, 1) forwards;
}

.bgsmall {
  position: fixed;
  top: 23vh;
  right: 0;
  width: 60%;
  margin: 0;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s 0.1s cubic-bezier(0, 1.6, 0.6, 1) forwards;
          animation: fadeIn 0.5s 0.1s cubic-bezier(0, 1.6, 0.6, 1) forwards;
}

.bottombg-box {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s 0.1s cubic-bezier(0, 1.6, 0.6, 1) forwards;
          animation: fadeIn 0.5s 0.1s cubic-bezier(0, 1.6, 0.6, 1) forwards;
  padding-bottom: 0 !important;
}

.bottombg-box img {
  max-width: 100%;
  padding: 0 !important;
  display: block !important;
}

.home-bottom {
  margin-left: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-bottom .home-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.home-bottom .home-left p {
  font-weight: 700;
  font-size: 2rem;
}

.home-bottom .home-right img {
  display: none;
}

.button-contactme {
  color: #293f14;
  background-color: transparent;
  font-weight: 700;
  font-size: 1em;
  width: 80%;
  height: 50px;
  margin-top: 30px;
  border-radius: 5px;
  border: #38a700 3px solid;
  opacity: 0;
  display: block;
  -webkit-animation: fadeIn 0.5s 0.5s cubic-bezier(0, 1.6, 0.6, 1) forwards;
          animation: fadeIn 0.5s 0.5s cubic-bezier(0, 1.6, 0.6, 1) forwards;
  -webkit-box-shadow: 0 0 12em 1em rgba(110, 140, 200, 0.6);
          box-shadow: 0 0 12em 1em rgba(110, 140, 200, 0.6);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes flying {
  0% {
    left: 0px;
  }
  5% {
    visibility: visible;
    left: 10px;
  }
  100% {
    left: 60%;
    visibility: visible;
  }
}

@keyframes flying {
  0% {
    left: 0px;
  }
  5% {
    visibility: visible;
    left: 10px;
  }
  100% {
    left: 60%;
    visibility: visible;
  }
}

@media only screen and (min-width: 768px) {
  .home-top .bird {
    width: 10%;
  }
  .bottombg-box {
    display: none;
  }
  .bgsmall {
    top: 15vh;
  }
  .home-bottom {
    margin-left: 12%;
  }
  .home-bottom .home-left {
    width: 100%;
  }
  .home-bottom .home-left p {
    font-weight: 700;
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .home-bottom .home-left {
    width: 100%;
  }
  .home-bottom .home-left p {
    font-weight: 700;
    font-size: 3rem;
  }
}
/*# sourceMappingURL=homestyle.css.map */