@import "./utility/variable.scss";
.home-container {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  height: 90vh;
  flex-flow: column wrap;
  margin: 15px;
  color: $darkGreen;
  overflow: hidden;
}

.home-bottom {
  margin-left: 8%;
  display: flex;
  height: 60vh;
  .home-left {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    p {
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 1px;
    }
  }
  .home-right {
    img {
      display: none;
    }
  }
}

.button-contactme {
  color: $darkGreen;
  background-color: transparent;
  font-weight: 700;
  font-size: 1em;
  width: 65%;
  height: 50px;
  margin-top: 30px;
  border-radius: 56px;
  border: rgba(55, 74, 103, 0.2) 3px solid;
  display: block;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.28);
}

@media only screen and (min-width: 768px) {
  .home-container {
    height: 80vh;
  }
  .home-bottom {
    margin-left: 12%;
    .home-left {
      width: 100%;
      p {
        font-weight: 700;
        font-size: 3rem;
      }
    }
  }
  .button-contactme {
    width: 60%;
    height: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .home-container {
    height: 100vh;
  }
  .home-bottom {
    margin-left: 12%;
    .home-left {
      width: 100%;
      p {
        font-weight: 700;
        font-size: 3rem;
      }
    }
  }
  .button-contactme {
    width: 70%;
    height: 50px;
  }
}
