@import "./utility/variable.scss";
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  opacity: 1;
  position: absolute;
  top: 0;
  background-color: $BGcolor;
  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 80%;
      animation: bounceAndRotate 0.8s infinite alternate;
    }
  }
}

@keyframes bounceAndRotate {
  from {
    transform: translateY(0px) rotateY(0deg);
  }
  to {
    transform: translateY(-80px) rotateY(360deg);
  }
}
