// https://coolors.co/293f14-386c0b-38a700-31d843-3eff8b

@import "./utility/variable.scss";

* {
  font-family: "Roboto";
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  margin-top: 10vh;
  background-color: $BGcolor;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    margin-left: 10vh;
  }
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  color: $darkGreen;
}
