@import "./utility/variable.scss";

.skills-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  .skill-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}
.skill-title {
  margin: 5% auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2em;
}
.skill-desc {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .skills-container {
    flex-flow: row nowrap;
    height: 90vh;
    width: 90%;
    margin: 0 auto;
    color: $darkGreen;
  }
}

@media only screen and (min-width: 1024px) {
}
