@import "./utility/variable.scss";

.skills-container {
  @include containerStyle;
  width: 95%;
  .skill-wrapper {
    @include wrapperStyle;
    .skill-title {
      @include mobileTitle;
    }

    .skill-bottom {
      .skill-right {
        display: none;
      }
      .skill-left {
        @include centerAllFlex;
        flex-flow: column nowrap;
        .skill-desc {
          @include mobileDesc;
        }
        .skill-right-mobile {
          margin: 5px;
          a {
            text-decoration: none;
          }
          button {
            width: 200px;
            height: 40px;
            margin: 12px 0 4px 0;
            border: rgba(55, 74, 103, 0.2) 3px solid;
            display: block;
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
            border-radius: 12px;
            font-weight: 800;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .skills-container {
    height: 100%;
    .skill-wrapper {
      .skill-desc {
        @include mobileDesc;
      }
      .skill-title {
        @include tabletTitle;
      }
    }
  }

  .skill-left {
    .skill-right-mobile {
      button {
        height: 100px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .skills-container {
    .skill-wrapper {
      .skill-title {
        @include desktopTitle;
      }
    }
  }
}
